{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SAO - Sistema de Acompanhamento de Ocorrências</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
        <link rel="stylesheet" href="{% static "css/estilo.css" %}">
    </head>
    <body>
        <div class="ui inverted huge borderless fluid menu">
            <a class="header item"><h1>SAO</h1></a>
            {% if user.is_authenticated%}
                <div class="right menu">
                    <a class="item">Perfil</a>
                    <a class="item">Sair</a>
                </div>
            {% endif %}
        </div>

        <section class="ui stackable grid conteudo">
            {% block 'conteudo' %}

            {% endblock %}
        </section>

        <footer class="ui inverted vertical footer segment rodape">

        </footer>

        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "css/semantic.min.js" %}"></script>
    </body>
</html>