{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SAO - Sistema de Acompanhamento de Ocorrências</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
        <link rel="stylesheet" href="{% static "css/estilo.css" %}">
    </head>
    <body>
        {% include 'menu_superior.html' %}

        <section class="ui stackable grid conteudo">
            <div class="two wide column"></div>
            {% block 'conteudo' %}

            {% endblock %}

        </section>

        <footer class="ui inverted vertical footer segment rodape"></footer>

        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "css/semantic.min.js" %}"></script>
    </body>
</html>