{% extends 'include/base.html' %}

{% block 'conteudo' %}
<div class="two wide column"></div>
    <article class="eight wide column">

        <h2 class="ui header">Seja Bem-Vindo</h2>
        <h3>Bem-Vindo ao Sistema de Acompanhamento de Ocorrências (SAO)</h3>
        <p>Este sistema foi desenvolvido para a disciplina de Desenvolvimento Web I, pelo aluno
        Bruno Miguel Morais.</p>
        <p>Para uma experiência completa, utilize o navegador Google Chrome.</p>

    </article>

{% endblock %}