{% load staticfiles %}

<header class="ui inverted huge borderless fluid menu">
    <a href="{%url 'index' %}" class="header item"><h1>SAO</h1></a>
    {% if user.is_authenticated %}
        <div class="left menu">
            {% if request.get_full_path == "/aluno/"%}
                <a href="{% url 'ocorrencia_listar' %}" class="item">Ocorrências</a>
                <a href="{% url 'aluno_listar' %}" class="active item">Alunos</a>
                <a href="{% url 'turma_listar' %}" class="item">Turmas</a>
                <a href="{% url 'disciplina_listar'%}" class="item">Disciplinas</a>
            {% elif request.get_full_path == "/ocorrencia/" %}
                <a href="{% url 'ocorrencia_listar' %}" class="active item">Ocorrências</a>
                <a href="{% url 'aluno_listar' %}" class="item">Alunos</a>
                <a href="{% url 'turma_listar' %}" class="item">Turmas</a>
                <a href="{% url 'disciplina_listar'%}" class="item">Disciplinas</a>
            {% elif request.get_full_path == "/turma/" %}
                <a href="{% url 'ocorrencia_listar' %}" class="item">Ocorrências</a>
                <a href="{% url 'aluno_listar' %}" class="item">Alunos</a>
                <a href="{% url 'turma_listar' %}" class="active item">Turmas</a>
                <a href="{% url 'disciplina_listar'%}" class="item">Disciplinas</a>
            {% elif request.get_full_path == "/disciplina/" %}
                <a href="{% url 'ocorrencia_listar' %}" class="item">Ocorrências</a>
                <a href="{% url 'aluno_listar' %}" class="item">Alunos</a>
                <a href="{% url 'turma_listar' %}" class="item">Turmas</a>
                <a href="{% url 'disciplina_listar'%}" class="active item">Disciplinas</a>
            {% else %}
                <a href="{% url 'ocorrencia_listar' %}" class="item">Ocorrências</a>
                <a href="{% url 'aluno_listar' %}" class="item">Alunos</a>
                <a href="{% url 'turma_listar' %}" class="item">Turmas</a>
                <a href="{% url 'disciplina_listar'%}" class="item">Disciplinas</a>
            {% endif %}
            {% if user.is_staff %}
                {% if request.get_full_path == "/professor/" %}
                    <a href="{% url 'professor_listar'%}" class="active item">Professores</a>
                {% else %}
                    <a href="{% url 'professor_listar'%}" class="item">Professores</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="right menu">
            <a href="{% url 'logout' %}" class="item">Sair</a>
        </div>
    {% endif %}
</header>