{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="three wide column"></div>
    <article class="six wide column">

        <nav class="ui text stackable menu">
            <h2 class="ui header">Troca de Senha</h2>
        </nav>

        <form method="POST" action="{% url 'perfil' %}" class="ui content form">

            {% if erro %}
                <div class="ui negative message">
                    <div class="header">Senha incorreta!</div>
                    <p>Por favor, verifique os dados e tente novamente.</p>
                </div>
            {% endif %}

            {% if ok %}
                <div class="ui positve message">
                    <div class="header">Senha alterada!</div>
                    <p>Por favor, faça login novamente.</p>
                    <meta http-equiv="refresh" content="2; url=/"/>
                </div>
            {% endif %}

            {% csrf_token %}

            <div class="field">
                <label>Nova Senha</label>
                <input type="password" required="True" name="nova_senha"/>
            </div>

            <div class="field">
                <label>Confirme a Nova Senha</label>
                <input type="password" required="True" name="confirmar_nova_senha"/>
            </div>
            <div class="actions">
                <input type="submit" class="ui right primary button" value="Trocar Senha"/>
            </div>

        </form>

    </article>
{% endblock %}