{% extends 'include/base.html' %}

{% load i18n %}

{% block 'conteudo' %}
    <article class="twelve wide column">
    {% if form.instance.id %}
        <form class="ui form" method="POST" action="{% url 'aluno_editar' form.instance.id %}">
    {% else %}
        <form class="ui form" method="POST" action="{% url 'aluno_cadastrar' %}">
    {% endif %}
            {% csrf_token %}
            <h1 class="ui dividing header">{% blocktrans %}Cadastro de Aluno{% endblocktrans %}</h1>
            <div class="three fields">
                <div class="field">
                    <label>{% blocktrans %}Nome{% endblocktrans %}</label>
                    {{ form.nome }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Sobrenome{% endblocktrans %}</label>
                    {{ form.sobrenome }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Matrícula{% endblocktrans %}</label>
                    {{ form.matricula }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>{% blocktrans %}Telefone{% endblocktrans %}</label>
                    {{ form.telefone }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}E-Mail{% endblocktrans %}</label>
                    {{ form.email }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Turma{% endblocktrans %}</label>
                    {{ form.turma }}
                </div>
            </div>
            <div class="actions">
                <a href="{% url 'aluno_listar' %}" class="ui deny button">{% blocktrans %}Cancelar{% endblocktrans %}</a>
                <input type="submit" class="ui right green button" value="{% blocktrans %}Cadastrar{% endblocktrans %}"/>
            </div>
        </form>
    </article>
{% endblock %}