{% extends 'include/base.html' %}

{% block 'conteudo' %}
    <article class="twelve wide column">
    {% if form.instance.id %}
        <form class="ui form" method="POST" action="{% url 'aluno_editar' form.instance.id %}">
    {% else %}
        <form class="ui form" method="POST" action="{% url 'aluno_cadastrar' %}">
    {% endif %}
            {% csrf_token %}
            <h1 class="ui dividing header">Cadastro de Aluno</h1>
            <div class="three fields">
                <div class="field">
                    <label>Nome</label>
                    {{ form.nome }}
                </div>
                <div class="field">
                    <label>Sobrenome</label>
                    {{ form.sobrenome }}
                </div>
                <div class="field">
                    <label>Matrícula</label>
                    {{ form.matricula }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Telefone</label>
                    {{ form.telefone }}
                </div>
                <div class="field">
                    <label>E-Mail</label>
                    {{ form.email }}
                </div>
                <div class="field">
                    <label>Turma</label>
                    {{ form.turma }}
                </div>
            </div>
            <div class="actions">
                <a href="{% url 'aluno_listar' %}" class="ui deny button">Cancelar</a>
                <input type="submit" class="ui right green button" value="Cadastrar"/>
            </div>
        </form>
    </article>
{% endblock %}