{% extends 'include/base.html' %}

{% load i18n %}

{% block 'conteudo' %}
    <article class="twelve wide column">
    {% if form.instance.id %}
        <form class="ui form" method="POST" action="{% url 'professor_editar' form.instance.id %}">
    {% else %}
        <form class="ui form" method="POST" action="{% url 'professor_cadastrar' %}">
    {% endif %}
            {% csrf_token %}
            <h1 class="ui dividing header">{% blocktrans %}Cadastro de Professor{% endblocktrans %}</h1>
            <div class="three fields">
                <div class="field">
                    <label>{% blocktrans %}Nome{% endblocktrans %}</label>
                    {{ form.first_name }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Sobrenome{% endblocktrans %}</label>
                    {{ form.last_name }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}E-Mail{% endblocktrans %}</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>{% blocktrans %}Nome de Usuário{% endblocktrans %}</label>
                    {{ form.username }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Senha{% endblocktrans %}</label>
                    {{ form.password }}
                </div>
            </div>
            <div class="actions">
                <a href="{% url 'professor_listar' %}" class="ui deny button">{% blocktrans %}Cancelar{% endblocktrans %}</a>
                <input type="submit" class="ui right green button" value="{% blocktrans %}Cadastrar{% endblocktrans %}"/>
            </div>
        </form>
    </article>
{% endblock %}