{% extends 'base.html' %}

{% block 'conteudo' %}
    <article class="twelve wide column">
    {% if form.instance.id %}
        <form class="ui form" method="POST" action="{% url 'professor_editar' form.instance.id %}">
    {% else %}
        <form class="ui form" method="POST" action="{% url 'professor_cadastrar' %}">
    {% endif %}
            {% csrf_token %}
            <h1 class="ui dividing header">Cadastro de Professor</h1>
            <div class="three fields">
                <div class="field">
                    <label>Nome</label>
                    {{ form.first_name }}
                </div>
                <div class="field">
                    <label>Sobrenome</label>
                    {{ form.last_name }}
                </div>
                <div class="field">
                    <label>E-Mail</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Nome de Usuário</label>
                    {{ form.username }}
                </div>
                <div class="field">
                    <label>Senha</label>
                    {{ form.password }}
                </div>
            </div>
            <div class="actions">
                <a href="{% url 'professor_listar' %}" class="ui deny button">Cancelar</a>
                <input type="submit" class="ui right green button" value="Cadastrar"/>
            </div>
        </form>
    </article>
{% endblock %}