*  {
	margin:0;
	padding:0;
}

.superior{
	min-height: 5%;
}

.conteudo{
	min-height: 90%;
	margin: 0px !important;
	font-size: 15px;
	padding-bottom: 10px !important;
}

.rodape{
	padding-top: 0%;
	text-align: center !important;
	min-height: 5%;
	bottom: 0px !important;
}

.ui.black.label.lista {
    background-color: #1B1C1D!important;
    border-color: #1B1C1D!important;
}