*  {
	margin:0;
	padding:0;
}
.conteudo{
	min-height: 85%;
	margin: 0px !important;
	font-size: 15px;
	padding-bottom: 10px !important;
}

.rodape{
	padding-top: 0%;
	text-align: center !important;
	min-height: 5.5%;
	bottom: 0px;
}

.ui.black.label.lista {
    background-color: #1B1C1D!important;
    border-color: #1B1C1D!important;
}