{% extends 'base.html' %}

{% block 'conteudo' %}
    <article class="twelve wide column">
        <form class="ui form" method="POST" action="{% url 'ocorrencia_cadastrar' %}">
            {% csrf_token %}
            <h1 class="ui dividing header">Cadastro de Ocorrência</h1>
            <div class="four fields">
                <div class="field">
                    <label>Aluno</label>
                    {{ form.aluno }}
                </div>
                <div class="field">
                    <label>Professor</label>
                    {{ form.professor }}
                </div>
                <div class="field">
                    <label>Disciplina</label>
                    {{ form.disciplina }}
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Data</label>
                        {{ form.data }}
                    </div>
                    <div class="field">
                        <label>Hora</label>
                        {{ form.hora }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Descrição</label>
                {{ form.descricao }}
            </div>
            <div class="actions">
                <a href="{% url 'ocorrencia_listar' %}" class="ui deny button">Cancelar</a>
                <input type="submit" class="ui right green button" value="Cadastrar"/>
            </div>
        </form>
    </article>
{% endblock %}