{% extends 'include/base.html' %}

{% block 'conteudo' %}
    <article class="twelve wide column">
        {% if form.instance.id %}
            <form class="ui form" method="POST" action="{% url 'ocorrencia_editar' form.instance.id %}">
        {% else %}
            <form class="ui form" method="POST" action="{% url 'ocorrencia_cadastrar' %}">
        {% endif %}
            {% csrf_token %}
            <h1 class="ui dividing header">Cadastro de Ocorrência</h1>
            {% if user.is_superuser %}
            <div class="three fields">
            {% else %}
            <div class="two fields">
            {% endif %}
                <div class="field">
                    <label>Aluno</label>
                    {{ form.aluno }}
                </div>
                {% if user.is_superuser %}
                <div class="field">
                    <label>Professor</label>
                    {{ form.professor }}
                </div>
                {% else %}
                    <input type="hidden" name="professor" id="id_professor" value="{{ user.id }}"/>
                {% endif %}
                <div class="field">
                    <label>Disciplina</label>
                    {{ form.disciplina }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Data</label>
                    {{ form.data }}
                    {% if form.data.errors %}
                        <div class="ui red pointing label">
                            {{ form.data.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Hora</label>
                    {% if form.instance.id %}
                        <input id="id_hora" name="hora" required="True" type="time" value="{{ hora }}"/>
                    {% else %}
                        {{ form.hora }}
                        {% if form.hora.errors %}
                            <div class="ui red pointing label">
                                {{ form.hora.errors }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label>Descrição</label>
                {{ form.descricao }}
                {% if form.descricao.errors %}
                    <div class="ui red pointing label">
                        {{ form.descricao.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="actions">
                <a href="{% url 'ocorrencia_listar' %}" class="ui deny button">Cancelar</a>
                <input type="submit" class="ui right green button" value="Cadastrar"/>
            </div>
        </form>
    </article>
{% endblock %}