{% extends 'base.html' %}

{% block 'conteudo' %}

    <article class="twelve wide column">

        <div class="row">
            <nav class="ui text stackable menu">
                <h2 class="ui header">
                    Ocorrências
                </h2>
            </nav>
        </div>

        <table class="ui striped celled unstackable table">
            <thead>
            <tr>
                <th class="no-sort" colspan="7">
                    <div class="ui black ribbon large label lista">Lista de Ocorrências</div>
                    <a href="{% url 'ocorrencia_cadastrar' %}" class="right floated ui labeled green icon button">
                        <i class="icon add"></i>
                        Adicionar Nova Ocorrência
                    </a>
                </th>

            </tr>
            <tr>
                <th>Aluno</th>
                <th>Turma</th>
                <th>Disciplina</th>
                <th>Data</th>
                {% if user.is_superuser %}
                <th class="collapsing center aligned" colspan="3">Ações</th>
                {% else %}
                <th class="collapsing center aligned" colspan="2">Ações</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if dados %}
                {% for dado in dados %}
                    <tr>
                        <td>{{ dado.aluno.nome }}</td>
                        <td>{{ dado.aluno.turma }}</td>
                        <td>{{ dado.disciplina }}</td>
                        <td>{{ dado.data }}</td>
                        <td class="collapsing center aligned">
                            <a class="cursorPointer" href="{% url 'ocorrencia_editar' dado.id %}">
                                <i class="ui write grey large icon"></i>
                            </a>
                        </td>
                        <td class="collapsing center aligned">
                            <a href="{% url 'ocorrencia_relatorio' dado.id %}" class="cursorPointer">
                                <i class="ui file grey large icon"></i>
                            </a>
                        </td>
                        {% if user.is_superuser %}
                            <td class="collapsing center aligned">
                                <a class="cursorPointer"  href="{% url 'ocorrencia_ocultar' dado.id %}">
                                {% if dado.ativo == False %}
                                    <i class="ui refresh green large icon"></i>
                                {% else %}
                                    <i class="ui trash red large icon"></i>
                                {% endif %}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Não há dados cadastrados.</td>
                </tr>
            {% endif %}

            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination secondary menu">
                        {% if dados.has_previous %}
                            <a href="?page={{ dados.previous_page_number }}" class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                        {% endif %}
                        <a class="item">Página {{ dados.number }} de {{ dados.paginator.num_pages }}</a>
                        {% if dados.has_next %}
                            <a href="?page={{ dados.next_page_number }}" class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        {% endif %}
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </article>

{% endblock %}