{% extends 'include/base.html' %}

{% load i18n %}

{% block 'conteudo' %}
    <article class="twelve wide column">
        <h1 class="ui dividing header">{% blocktrans %}Relatório da Ocorrência{% endblocktrans %}</h1>
        <div class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>{% blocktrans %}Aluno{% endblocktrans %}</label>
                    {{ dado.aluno }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Professor{% endblocktrans %}</label>
                    {{ dado.professor }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Disciplina{% endblocktrans %}</label>
                    {{ dado.disciplina }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Turma{% endblocktrans %}</label>
                    {{ dado.aluno.turma }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>{% blocktrans %}Data{% endblocktrans %}</label>
                    {{ dado.data }}
                </div>
                <div class="field">
                    <label>{% blocktrans %}Hora{% endblocktrans %}</label>
                    {{ dado.hora }}
                </div>
            </div>
            <div class="field">
                <label>{% blocktrans %}Descrição{% endblocktrans %}</label>
                {{ dado.descricao }}
            </div>
            <div class="actions">
                <a href="{% url 'ocorrencia_listar' %}" class="ui deny right floated button">{% blocktrans %}Voltar{% endblocktrans %}</a>
            </div>
        </div>
    </article>
{% endblock %}