{% extends 'include/base.html' %}

{% load i18n %}

{% block 'conteudo' %}
    <article class="twelve wide column">
    {% if form.instance.id %}
        <form class="ui form" method="POST" action="{% url 'disciplina_editar' form.instance.id %}">
    {% else %}
        <form class="ui form" method="POST" action="{% url 'disciplina_cadastrar' %}">
    {% endif %}
            {% csrf_token %}
            <h1 class="ui dividing header">{% blocktrans %}Cadastro de Disciplina{% endblocktrans %}</h1>
                <div class="field">
                    <label>{% blocktrans %}Disciplina{% endblocktrans %}</label>
                    {{ form.disciplina }}
                </div>
            <div class="actions">
                <input type="submit" class="ui right floated green button" value="{% blocktrans %}Cadastrar{% endblocktrans %}"/>
                <a href="{% url 'disciplina_listar' %}" class="ui deny right floated button">{% blocktrans %}Cancelar{% endblocktrans %}</a>
            </div>
        </form>
    </article>
{% endblock %}