{% extends 'base.html' %}

{% block 'conteudo' %}

    <article class="twelve wide column">

        <div class="row">
            <nav class="ui text stackable menu">
                <h2 class="ui header">
                    Disciplinas
                </h2>
            </nav>
        </div>

        <table class="ui striped celled unstackable table">
            <thead>
            <tr>
                <th class="no-sort" colspan="5">
                    <div class="ui black ribbon large label lista">Lista de Disciplinas</div>
                    <a href="{% url 'disciplina_cadastrar' %}" class="right floated ui labeled green icon button">
                        <i class="icon add"></i>
                        Adicionar Nova Disciplina
                    </a>
                </th>

            </tr>
            <tr>
                <th>Disciplina</th>
                <th class="collapsing center aligned" colspan="2">Ações</th>
            </tr>
            </thead>
            <tbody>

            {% for dado in object_list %}
                <tr>
                    <td>{{ dado.disciplina }}</td>
                    <td class="collapsing center aligned">
                        <a class="cursorPointer" href="{% url 'disciplina_editar' dado.id %}">
                            <i class="ui write grey large icon"></i>
                        </a>
                    </td>
                    <td class="collapsing center aligned">
                        <a class="cursorPointer"  href="{% url 'disciplina_ocultar' dado.id %}">
                            {% if dado.ativo == False %}
                                <i class="ui refresh green large icon"></i>
                            {% else %}
                                <i class="ui trash red large icon"></i>
                            {% endif %}
                        </a>
                </tr>
            {% empty %}
                <tr>
                    <td>Não há dados cadastrados.</td>
                </tr>
            {% endfor %}




            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui right floated pagination secondary menu">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                        {% endif %}
                        <a class="item">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        {% endif %}
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </article>

{% endblock %}