{% extends 'include/base.html' %}

{% load i18n %}

{% block 'conteudo' %}
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url=/"/>
{% else %}
<div class="three wide column"></div>
    <article class="six wide column">

        <nav class="ui text stackable menu">
            <h2 class="ui header">{% blocktrans %}Entrar{% endblocktrans %}</h2>
        </nav>

        <form method="POST" action="{% url 'login' %}" class="ui content form">

            {% if form.errors %}
                <div class="ui negative message">
                    <div class="header">{% blocktrans %}Usuário ou Senha incorretos!{% endblocktrans %}</div>
                    <p>{% blocktrans %}Por favor, verifique os dados e tente novamente.{% endblocktrans %}</p>
                </div>
            {% endif %}

            {% csrf_token %}

            <div class="field">
                <label>{% blocktrans %}Usuário{% endblocktrans %}</label>
                {{ form.username }}
            </div>

            <div class="field">
                <label>{% blocktrans %}Senha{% endblocktrans %}</label>
                {{ form.password }}
            </div>
            <input type="hidden" name="next" value="/"/>
            <div class="actions">
                <input type="submit" class="ui right floated primary button" value="{% blocktrans %}Entrar{% endblocktrans %}"/>
            </div>

        </form>

    </article>
{% endif %}
{% endblock %}